APP_NAME=test
APP_SECRET_KEY=eebf86faa8b934c966bc2a64deced0a30e35b60eaee3fb7e08f8acb2c3d3dcf4

DB_HOST=db
DB_PORT=5432
DB_USERNAME=root
DB_PASSWORD=root
DB_DATABASE=test

PGADMIN_EMAIL=admin@mail.ru
PGADMIN_DEFAULT_PASSWORD=root